/ANC3-Projet/dist/
/MVC/ANC3-Projet/build/
/MVC/ANC3-Projet/nbproject/private/
/MVP/ANC3-MVP/nbproject/private/
/MVP/ANC3-MVP/build/
/MVP/ANC3-MVP/dist/
/MVVM/ANC3-MVVM/nbproject/private/
/MVVM/ANC3-MVVM/build/
/MVVM/ANC3-MVVM/dist/
/MVVM_iteration3/MVVM_iter3/nbproject/private/