/ANC3-Projet/dist/
/MVC/ANC3-Projet/build/
/MVC/ANC3-Projet/nbproject/private/
/MVP/ANC3-MVP/nbproject/private/
/MVP/ANC3-MVP/build/
/MVP/ANC3-MVP/dist/
/MVVM/ANC3-MVVM/nbproject/private/
/MVVM/ANC3-MVVM/build/
/MVVM/ANC3-MVVM/dist/
/MVVM_iteration3/MVVM_iter3/nbproject/private/
/MVVM_iteration3/MVVM_iter3/build/
/MVVM_iteration3/MVVM_iter3/dist/
/MVVM_iteration4/MVVM_iter4/nbproject/private/
/MVVM_iteration4/MVVM_iter4/build/
/MVVM_iteration4/MVVM_iter4/dist/
/MVVM_iteration5/MVVM_iteration4/nbproject/private/
/MVVM_iteration5/MVVM_iteration4/dist/
/MVVM_iteration5/MVVM_iteration4/build/
/MVVM_iteration5/MVVM_iteration5/build/
/MVVM_iteration5/MVVM_iteration5/dist/
/MVVM_iteration5/MVVM_iteration5/nbproject/private/