.button{
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 10px;
    -fx-padding: 10 20 10 20;
}
.list-view, .table-view{
    -fx-background-color: #38424b;
}
.list-view .list-cell:hover,.table-view .table-cell:hover {
    -fx-background-color: #1f2429;
}

.list-view .list-cell:selected {
    -fx-background-color: #25242c;
}

.list-view .list-cell,.table-view .table-cell {
    -fx-background-color: #38424b;
    -fx-text-fill: white;
}

.list-view .label {
    -fx-text-fill: white;
}

.root{
    -fx-background-color: #1f2429;

}
.label{
    -fx-text-fill: #A3AFAD;
}

.radio-button {
-fx-font-family: "Arial";
-fx-font-size: 11;
/*    -fx-text-fill: rgb(255, 255, 255, 0.4);*/
-fx-text-fill: lightgoldenrodyellow;
/*    -fx-effect: dropshadow(one-pass-box , rgba(0, 0, 0, 0.6), 0, 0.0 , 0 , 1 );*/
-fx-border-width: 0px;
}
#title{
    -fx-font-size: 18;
    -fx-text-fill:#A3AFAD;
    -fx-underline: true;
}

#quest{
    -fx-font-size: 15;
}
.combo-box{
    -fx-background-color: #38424b;
}
.combo-box .cell:selected {
    -fx-text-fill: white;
}

